/* 캘린더 */
.react-calendar {
  margin: 10px auto;
  max-width: 90%;
  background: white;
  border: 1px solid #E9E9E7;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
  /*타일 위에 마우스 커서 올리면*/
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  /* background-color: #f0f0f0; */
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  /* background-color: #e6e6e6; */
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

/* 주말 타일 */
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  /* padding: 2em 0.5em; */
}

/* 타일 */
.react-calendar__tile {
  height: 50px;
  width: 100%;
  max-width: 100%;
  background: none;
  font: inherit;
  font-size: 0.833em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
/* 타일 내부 */
.react-calendar__month-view__days__day abbr {
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  /* background-color: #e6e6e6; */
  /* border-radius: 10px; */
  /* 타일에 마우스 올리면 타일색 */
}

/* 오늘 타일 색 */
.react-calendar__tile--now abbr {
  background: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

/* 오늘 + 선택된 타일이라면 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  /* background: #ffffa9; */
}

/* 네비게이션 현재 월 스타일 적용 */
.react-calendar__tile--hasActive {
  background: #76baff;
}

/* 네비게이션 현재 월 스타일 적용 */
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  /* background: #006edc; */
  /* color: white; */

  /* 선택된 타일 */
}

/* 선택된 타일 */
.react-calendar__tile--active:enabled:hover{

}
.react-calendar__tile--active:enabled:focus {
  /* background: #e6e6e6; */
  outline: 1px solid #e6e6e6;
  border-radius: 10px;
  box-sizing: border-box;
  /* transition: 0.3s; */
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
  /* 범위설정이라 상관없음 */
}


/* 아래는 내가 추가함 */

.react-calendar__month-view__weekdays {
  abbr {
    /*월,화,수... 글자 부분*/
    color: grey;
    text-decoration-line: none;
  }
}