.LogContainer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 500px;
  margin-bottom: 500px;

  font-style: bold;
  font-size: 40px;
}

#benefit {
  position: relative;
  padding: 5px;
  font-size: 30px;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 500px;
  color: gray;
  justify-content: column;
  margin-left: -20px;
  margin-top: -100px;
}

.second-element {
  margin: 1px; /* 두 번째 글자와 관련된 요소에 마진 설정 */
}

.naverIdLogin {
  display: flex;
  justify-content: bottom;
  margin-bottom: 100px;
  padding: 600px;
}

.btn {
  justify-content: bottom;
  display: block;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -500px; /* 버튼 컨테이너와 글자 사이에 여백 추가 */
  margin-left: -350px;
}

.kakao-button,
.naver-button {
  margin-bottom: 5px; /* 각 버튼 사이에 여백 추가 */
}
